<div>
    <p class = "h2 mb-2" id = "para_1">Your addresses</p>
    
    <div id = "div_1" class = "container-fluid"  *ngFor = "let add of addresses">
    
        <div id = "div_2">

            <p id = "para_2"><b>{{add.addressId.name}}</b></p>
            <p>{{add.addressId.flat}}</p>
            <p>{{add.addressId.area}}</p>
            <p>{{add.addressId.landmark}}</p>
            <p>{{add.addressId.town}}, {{add.addressId.state}} {{add.addressId.PIN}}</p>
            <p>{{add.addressId.country}}</p>
            <p>Phone number : {{add.addressId.phone}}</p>
            <p id = "para_3">{{add.addressId.address_type}}</p>
            
            <div id = "div_3">
                <a id = "link" (click) = "updateAddress(add)">edit</a>
                <span> | </span> 
                <a id = "link" (click) = "deleteAddress(add)">delete</a> 
            </div>

        </div>

    </div>
</div>
